<!-- start custom head snippets -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-1032718155812877",
          enable_page_level_ads: true
     });
</script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

{% if page.use_math %}
     {% include mathjax_support.html %}
{% endif %}

<link rel="stylesheet" href="{{ '/assets/css/gruvbox.dark.css' | relative_url }}">
<!-- end custom head snippets -->
